* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Consolas;
}

.block {
  width: 100%;
  height: 100vh;
  background: url("../img/bgNew.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.block-base {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
  display: flex;
  background: url("../img/bgBlock.png") no-repeat;
  background-size: cover;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.8);
}
.block-base .block-menu {
  width: 10%;
  height: 100%;
  overflow: hidden;
}
.block-base .block-menu .menu-btn {
  transition: 1s;
  height: 12%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-base .block-menu .menu-btn:hover {
  transition: 1s;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.1);
}
.block-base .block-menu .menu-btn:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background-color: rgba(250, 250, 250, 0.1);
}
.block-base .block-menu .menu-btn .btn-burger {
  width: 20%;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block-base .block-menu .menu-btn .btn-burger span {
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  background-color: white;
}
.block-base .block-menu .menu-btn .btn-burger span.menu-btn__1 {
  width: 100%;
  margin: 0;
}
.block-base .block-menu .menu-btn .btn-burger span.menu-btn__2 {
  margin-top: 8px;
  width: 75%;
}
.block-base .block-menu .menu-btn .btn-burger span.menu-btn__3 {
  margin-top: 16px;
  width: 50%;
}
.block-base .block-menu .menu-content {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.5s;
  transform: translateX(-200%);
}
.block-base .block-menu .menu-content:after {
  transition: 0.5s;
  content: "";
  height: 0;
  width: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.1);
  top: 0;
  right: 0;
}
.block-base .block-menu .menu-content:before {
  transition: 0.5s;
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.1);
}
.block-base .block-menu .menu-content.active {
  transition: 0.5s;
  transform: translateX(0);
}
.block-base .block-menu .menu-content.active.activeAfter:after {
  transition: 2s;
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.1);
  top: 0;
  right: 0;
}
.block-base .block-menu .menu-content.active.activeAfter:before {
  transition: 2s;
  content: "";
  position: absolute;
  height: 2px;
  width: 98%;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.1);
}
.block-base .block-menu .menu-content .menu-item {
  transition: 1s;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block-base .block-menu .menu-content .menu-item img {
  height: 20%;
  width: 20%;
}
.block-base .block-menu .menu-content .menu-item .item-discr {
  transition: 1s;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 14px;
}
.block-base .block-menu .menu-content .menu-item .item-discr p {
  transition: 1s;
  transform: translateY(-200%);
}
.block-base .block-menu .menu-content .menu-item:hover {
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}
.block-base .block-menu .menu-content .menu-item:hover .item-discr p {
  transition: 1s;
  transform: translateY(0);
}
.block-base .block-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.block-base .block-content .content-hello {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: lineAnim 3s infinite;
}
.block-base .block-content .content-hello .hello-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.block-base .block-content .content-hello .hello-text h1 {
  white-space: nowrap;
  font-size: 54px;
  margin-bottom: 10px;
  font-weight: 400;
}
.block-base .block-content .content-hello .hello-text p {
  white-space: nowrap;
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}
.block-base .block-content .content-hello .hello-logo {
  position: absolute;
  width: 60%;
  opacity: 0.1;
}

@keyframes lineAnim {
  0% {
    border: 1px solid rgba(250, 250, 250, 0.1);
  }
  50% {
    border: 1px solid rgba(250, 250, 250, 0.5);
  }
  100% {
    border: 1px solid rgba(250, 250, 250, 0.1);
  }
}
